<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PokeCardpedia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ABD1B8BCDA62F718A7F7BBD9FBC9A4F70C23C5A8</string>
				<key>dateExpires</key>
				<string>3/31/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YG5N57HMZ9.ds-aero.PokeCardpedia</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YG5N57HMZ9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PokeCardpedia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4c046593-d9ff-42d6-a49b-48805e86d170</string>
				<key>dateExpires</key>
				<string>3/31/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ds-aero.PokeCardpedia</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YG5N57HMZ9</string>
				<key>name</key>
				<string>Jose Sanchez</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
